In [3]:
import tarfile
import csv
import gzip
import pandas as pd

with tarfile.open('(s) f+cf - train.csv.tar.gz', 'r:gz') as tar:
    for member in tar.getmembers():
        if member.name.endswith('.csv'):
            csv_file = tar.extractfile(member)
            break

    df = pd.read_csv(csv_file)
    tar.close()

print( len( df[df['type'] == 'factual'] ) )

85540

In [2]:
import tarfile
import csv
import gzip
import pandas as pd

with tarfile.open('test_sets.csv.tar.gz', 'r:gz') as tar:
    for member in tar.getmembers():
        if member.name.endswith('.csv'):
            csv_file = tar.extractfile(member)
            break

    test_df = pd.read_csv(csv_file)
    tar.close()

test_df.head()

,Unnamed: 0,question,context,parametric_answer,contextual_answer,answerable,type,input,output
0,756,3 candidates for the democratic nomination in ...,<Table> Democratic Party presidential primarie...,John F. Kennedy,unanswerable,False,closed_book,question: 3 candidates for the democratic nomi...,contextual: unanswerable\nparametric: John F. ...
1,756,3 candidates for the democratic nomination in ...,<Table> Democratic Party presidential primarie...,John F. Kennedy,Henry Purcell,True,counterfactual,question: 3 candidates for the democratic nomi...,contextual: Henry Purcell\nparametric: John F....
2,756,3 candidates for the democratic nomination in ...,<Table> Democratic Party presidential primarie...,John F. Kennedy,John F. Kennedy,True,factual,question: 3 candidates for the democratic nomi...,contextual: John F. Kennedy\nparametric: John ...
3,756,3 candidates for the democratic nomination in ...,<Li> Sally Field as Mrs. Gump : Field reflecte...,John F. Kennedy,unanswerable,False,random_context,question: 3 candidates for the democratic nomi...,contextual: unanswerable\nparametric: John F. ...
4,164,5 cities with the highest population in europe,<Table> <Tr> <Th> </Th> <Th> City </Th> <Th> C...,Istanbul,unanswerable,False,closed_book,question: 5 cities with the highest population...,contextual: unanswerable\nparametric: Istanbul

In [7]:
print( len( df[df['type'] == 'factual'] ) )
print( len( df[df['type'] == 'counterfactual'] ) )
print( len(df) )

85540
30653
116193

In [8]:
types = list(set(test_df['type'].values))
for t in types:
    print( t, len( test_df[test_df['type'] == t] ) )

counterfactual 1365
random_context 1365
closed_book 1365
factual 1365

In [23]:
cf = test_df[test_df['type'] == 'counterfactual']
cf.head()

,Unnamed: 0,question,context,parametric_answer,contextual_answer,answerable,type,input,output
1,756,3 candidates for the democratic nomination in ...,<Table> Democratic Party presidential primarie...,John F. Kennedy,Henry Purcell,True,counterfactual,question: 3 candidates for the democratic nomi...,contextual: Henry Purcell\nparametric: John F....
5,164,5 cities with the highest population in europe,<Table> <Tr> <Th> </Th> <Th> City </Th> <Th> C...,Istanbul,Michigan,True,counterfactual,question: 5 cities with the highest population...,contextual: Michigan\nparametric: Istanbul
9,989,a country having an island location and a coun...,<P> This is a list of island countries . An is...,Australia,Hyderabad,True,counterfactual,question: a country having an island location ...,contextual: Hyderabad\nparametric: Australia
13,634,a system of fortifications along france's border,<P> The New England Patriots ( French : Ligne ...,Maginot Line,New England Patriots,True,counterfactual,question: a system of fortifications along fra...,contextual: New England Patriots\nparametric: ...
17,828,a town in west yorkshire on the river aire hom...,<P> Rome is a town in the metropolitan borough...,Castleford,Rome,True,counterfactual,question: a town in west yorkshire on the rive...,contextual: Rome\nparametric: Castleford

In [1]:
cf = test_df[test_df['type'] == 'counterfactual']

all_questions = df['contextual_answer'].values

counter = 0
for i, entry in cf.iterrows():
    q = entry['question']
    c = entry['context']
    a = entry['contextual_answer']
    pos = c.index(a)
    if len(q)+(pos+len(a)) > 396:
        print(q)
        counter += 1 

print(f'{counter=}')

NameError: name 'test_df' is not defined

In [50]:
(1365-342)/1365*100

74.94505494505495

In [3]:
stringcols = df.select_dtypes(include='object').columns
stringcols

Index(['question', 'context', 'parametric_answer', 'contextual_answer', 'type',
       'input', 'output'],
      dtype='object')

In [6]:
import pandas as pd
import gzip

df = pd.read_csv('a.csv')
df.head()

,Unnamed: 0,question,context,parametric_answer,contextual_answer,answerable,type,input,output
0,19799,(1) what is the complete ground state electron...,"<Table> <Tr> <Th_colspan=""26""> Legend </Th> </...",3p </Td> <Td> 3d </Td> <Td> 4s </Td> <Td> 4p <...,unanswerable,False,closed_book,question: (1) what is the complete ground stat...,contextual: unanswerable\nparametric: 3p </Td>...
1,19799,(1) what is the complete ground state electron...,"<Table> <Tr> <Th_colspan=""26""> Legend </Th> </...",3p </Td> <Td> 3d </Td> <Td> 4s </Td> <Td> 4p <...,3p </Td> <Td> 3d </Td> <Td> 4s </Td> <Td> 4p <...,True,factual,question: (1) what is the complete ground stat...,contextual: 3p </Td> <Td> 3d </Td> <Td> 4s </T...
2,19799,(1) what is the complete ground state electron...,"<P> In Roman Catholicism and Lutheranism , the...",3p </Td> <Td> 3d </Td> <Td> 4s </Td> <Td> 4p <...,unanswerable,False,random_context,question: (1) what is the complete ground stat...,contextual: unanswerable\nparametric: 3p </Td>...
3,14057,0 k is equal to what temperature in celsius,<P> At temperatures near 0 K ( − 273.15 ° C ; ...,− 273.15 ° C,unanswerable,False,closed_book,question: 0 k is equal to what temperature in ...,contextual: unanswerable\nparametric: − 273.15...
4,14057,0 k is equal to what temperature in celsius,<P> At temperatures near 0 K ( − 273.15 ° C ; ...,− 273.15 ° C,− 273.15 ° C,True,factual,question: 0 k is equal to what temperature in ...,contextual: − 273.15 ° C\nparametric: − 273.15...

In [29]:
ndf = df[ df['type'] == 'random_context']
ndf.head()

,Unnamed: 0.1,Unnamed: 0,question,context,parametric_answer,contextual_answer,answerable,type,input,output
42772,2,19799,(1) what is the complete ground state electron...,"<P> In Roman Catholicism and Lutheranism , the...",3p </Td> <Td> 3d </Td> <Td> 4s </Td> <Td> 4p <...,unanswerable,False,random_context,question: (1) what is the complete ground stat...,contextual: unanswerable
42773,5,14057,0 k is equal to what temperature in celsius,"<P> Annabeth Gish ( born March 13 , 1971 ) is ...",− 273.15 ° C,unanswerable,False,random_context,question: 0 k is equal to what temperature in ...,contextual: unanswerable
42774,8,11305,1 arab is equal to how many crores,<Ul> <Li> 1950 British Empire Games -- Aucklan...,one hundred,unanswerable,False,random_context,question: 1 arab is equal to how many crores?\...,contextual: unanswerable
42775,11,16809,1 decade is equal to how many years,<P> Like several other northeastern states of ...,ten years,unanswerable,False,random_context,question: 1 decade is equal to how many years?...,contextual: unanswerable
42776,15,17171,1 litre is equal to how many centimetre cube,<P> Most long - standing spectra include a rig...,1000,unanswerable,False,random_context,question: 1 litre is equal to how many centime...,contextual: unanswerable

In [33]:
df.iloc[6]['output']

'contextual: unanswerable\nparametric: one hundred'

In [5]:
set(df['type'].values)

{'closed_book', 'counterfactual', 'factual', 'random_context'}

In [19]:
import torch

t = torch.rand(3,7)
t[:, :4] = 1
t

tensor([[1.0000, 1.0000, 1.0000, 1.0000, 0.5849, 0.5985, 0.0376],
        [1.0000, 1.0000, 1.0000, 1.0000, 0.2883, 0.8401, 0.3121],
        [1.0000, 1.0000, 1.0000, 1.0000, 0.8319, 0.1344, 0.0823]])

In [20]:
(t[:, :5]==1).all().item()

False

In [27]:
from datetime import timedelta
td = timedelta(hours=4, minutes=43, seconds=48)
(td.total_seconds()/60)

283.8

In [30]:
from datetime import timedelta
td = timedelta(hours=5, minutes=44, seconds=48)
(td.total_seconds()%3600)/60

44.8